.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  padding: 30px;
  // background-color: rgb(109, 109, 158);
  gap: 100px;
  h1 {
    font-size: 34px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: underline;
    gap: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: 20px;
    background-color: #e1e7ed;
    box-shadow: 0 4px 8px 0 #8b8e91;
    z-index: 99;
    border-radius: 20px;
    h3 {
      text-decoration: underline;
    }
    &__form {
      margin-top: 30px;
      &__control {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 30px;
        div {
          position: relative;
          .inputName,
          .inputEmail,
          .inputDescription {
            width: 100%;
            border: 2px solid rgb(18, 18, 36);
            padding: 16px 12px;
            transition: all 0.5s ease;
            position: relative;
            background-color: transparent;
            color: rgb(34, 34, 69);
          }
          .nameLabel,
          .emailLabel,
          .descriptionLabel {
            font-weight: 500;
            position: absolute;
            top: 7px;
            left: 12px;
            transition: all 0.2s ease;
            color: rgb(29, 29, 77);
            font-size: 16px;
          }
          .inputName:focus,
          .inputEmail:focus,
          .inputDescription:focus {
            outline: none;
          }
          .inputName:focus + .nameLabel,
          .inputEmail:focus + .emailLabel,
          .inputDescription:focus + .descriptionLabel {
            font-size: 18px;
            top: -25px;
            left: 0px;
            color: rgb(95, 26, 207);
          }
        }
      }
    }
  }
  .button {
    margin: 5px;
    padding: 9px;
    background: transparent;
    border: 2px solid rgb(97, 14, 240);
    border-radius: 4px;
    color: rgb(97, 14, 240);
    font-size: 1rem;
    font-weight: 700;
    gap: 30px;
    font-family: "Montserrat", sans-serif;
    text-align: center;

    &:hover {
      background-color: rgb(97, 14, 240);
      color: #fff;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 780px) {
  .contact {
    gap: 60px;
    h1 {
      font-size: 34px;
    }
  }
}
@media screen and (max-width: 600px) {
  .contact {
    gap: 60px;
    height: auto;
    h1 {
      font-size: 25px;
      line-height: 17px;
    }
  }
}
